Домашнее задание
Для выполнения задач Easy и Normal опять используем данные Титаника

Easy
Вычислить вероятность выживания, если пассажиру:

от 0 до 25 лет
от 25 до 50 лет
от 50 лет и старше

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
titanic_df = pd.read_csv('train.csv')
df = pd.read_csv('gender_submission.csv')
tsd = pd.read_csv('test.csv')

In [4]:
titanic_df['AgeGroup'] = pd.cut (titanic_df ['Age'], 3) 
titanic_df.AgeGroup.value_counts(sort=False)

(0.34, 26.947]      319
(26.947, 53.473]    345
(53.473, 80.0]       50
Name: AgeGroup, dtype: int64

In [5]:
titanic_df.pivot_table(values='Survived',index='AgeGroup',aggfunc=np.mean)

                  Survived
AgeGroup
(0.34, 26.947]    0.407524
(26.947, 53.473]  0.417391
(53.473, 80.0]    0.320000

Normal
Вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

In [13]:
woman = titanic_df[titanic_df["Sex"]=='female']["PassengerId"].count()

In [14]:
survivedWoman = titanic_df[(titanic_df["Sex"]=='female')&(df["Survived"]==1)]["PassengerId"].count()

In [15]:
survivalRate = titanic_df[(titanic_df["Survived"]==1)]["PassengerId"].count()

In [16]:
total = titanic_df["PassengerId"].count()

In [17]:
pw = woman / total
psw = survivedWoman / woman
ps = survivalRate / total

In [30]:
pSurvavedWoman = (psw * pw) / ps
print (pSurvavedWoman * 300)

50.87719298245614